@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 224, 71.4%, 4.1%;
  --foreground: 210, 20%, 98%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

::-webkit-scrollbar {
  width: 3px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 3px;
}
